label{
    color: rgb(99, 99, 177);
    font-family: 'Century Gothic';
    text-align: left;
    font-size: 30px;
}
body{
    background: url("https://image.freepik.com/foto-gratis/fondo-textura-madera-degradado-oscuro_1258-855.jpg") no-repeat center center fixed;
    background-size: cover;
}input{
    border-radius: 5px;
    border: 1px solid #39c;
    border-color: darkgray;
    font-family: 'Century Gothic';
    height: 40px;
    width: 250px;
    outline: none;
    color:aqua;
    background-color: inherit;
}