label{
    color: darkblue;
    font-family: 'Century Gothic';
    text-align: left;
    font-size: 30px;
}
body{
    background: url("https://images3.alphacoders.com/101/thumb-1920-1010294.jpg") no-repeat center center fixed;
    background-size: cover;
}input{
    border-radius: 5px;
    border: 1px solid #39c;
    border-color: darkgray;
    font-family: 'Century Gothic';
    height: 40px;
    width: 250px;
    outline: none;
    color: navy;
    background-color: inherit;
}