boton {
    border: transparent;
    text-decoration:none;
    font-weight:6000;
    font-size:20px;
    color:#ffffff;
    padding-top:15px;
    padding-bottom:15px;
    padding-left:150px;
    padding-right:150px;
    background-color:#67e1e6;
    
}
a {
    border: transparent;
    text-decoration:none;
    font-weight:6000;
    font-size:20px;
    color:#ffffff;
    padding-top:15px;
    padding-bottom:15px;
    padding-left:150px;
    padding-right:150px;
    font-family: 'Century Gothic';
    
}
p{
    color: rgb(46, 170, 153);
    font-family: 'Century Gothic';
    font-size: 30px;
}
body{
    background-image: url("https://i.pinimg.com/originals/a8/ed/ef/a8edef88be550e6922e5aa0fc01f9ff0.jpg" )no-repeat center center fixed;
    background-size: cover;
   
}