body{
    background: url("https://lh3.googleusercontent.com/proxy/mxUH_46CJ_Ye0p6pB-WMDjGfm55cpDhSV23riNm_VFzBupws5kwNEj-Sy_vOf0MFnGByo4QBz2q7n_TcRswsZbflNnD84P85ga5D1loDBZF1e_-yG2mwN6KR" )no-repeat center center fixed;
    background-size: cover;
    font-family: 'Century Gothic';
}