{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <title>B&J Añadir Doctor</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="{% static 'css/new_manage.css' %}">
</head>
<body>
    <CENTER>
        <div id="wrapper" class="add">
            <form action="add" method="POST">
                    {%csrf_token%}
                    <div>
                        <label style="color: aliceblue;">Nombre: </label><br><input type="text" name="name" placeholder="Inserte aqui el nombre"><br>
                    </div>
                    <div>
                        <label style="color: aliceblue;">Apellido: </label><br><input type="text" name="last_name" placeholder="Inserte aqui el apellido"><br>
                    </div>
                    <div>
                        <label style="color: aliceblue;">Foto: </label><br><input type="file" name="img" placeholder="Selecciona aqui"><br>
                    </div>
                    <div>
                        <label style="color: aliceblue;">Especialidad: </label><br><input type="text" name="especialty" placeholder="Inserte aqui el Especialidad"><br>
                    </div>
                    <div>
                        <label style="color: aliceblue;">Codigo: </label><br><input type="text" name="code" placeholder="Inserte aqui el codigo" maxlength="5"><br>
                    </div><br>
                    <input type="submit" value="AÑADIR">  
            </form>
        </div>
    </CENTER>
</body>
</html>