{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <title>Contrato de {{doctor.name}}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="{% static 'css/manage.css' %}">
</head>
<body>
    <CENTER><h1>Contrato de bienes y servios</h1></CENTER>
    <p>Este es tu contrato {{doctor.name}} {{doctor.last_name}}, especialista en {{ doctor.specialty }} desde 2010, quien desde ahora sera parte de B&J Clinicas de la salud, quien iniciara con un salario basico de un doctor estimado en 7500 soles mensuales sujeto a cambios debido a las horas extra que este puede presentar o algun descuento que se le pueda hacer, segun sea el caso </p>
</body>
</html>