{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <title>Saca tu cita ahora</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="{% static 'css/do_appointment.css' %}">
</head>
<body>
    <div class="login">
		<div class="login-screen">
			<div class="app-title">
				<h1>Saca tu cita</h1>
			</div>
            <form  method="POST">
                {%csrf_token%}
			<div class="login-form">
				<div class="control-group">
                <div>
                    <input type="text" name="name" placeholder="Inserte aqui tu nombre" >
                </div>
                <div>
                    <input type="text" name="specialty" value="{{esp}}" disabled>
                </div>
                <div>
                    <select name="select">
                        <option value="value1" selected>Escoja al doctor</option> 
                        {% for doc in doctors %}
                        {% if doc.specialty == esp %}
                        <option value="value1">{{doc.name}} {{doc.last_name}}</option>
                        {% endif %}
                        {% endfor %}
                      </select>
                </div>
                <div>
                    <input type="date" name=date>
                </div>
                <div>
                    <input type="time" name="time">
                </div>
                <div>
                    <input type="text" name="email" placeholder="Inserte aqui un correo" >
                </div>
                <input type="submit" value="Sacar Cita" style="background-color: dodgerblue;color: white;"> 
            </div>
        </form>
		</div>
	</div>
</body>
</html>