{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <title>Saca tu cita ahora</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="{% static 'css/do_appointment.css' %}">
</head>
<body>
    <div class="login">
		<div class="login-screen">
			<div class="app-title">
				<h1>Saca tu cita</h1>
			</div>
            <form  method="POST" action="\..\accounts/do_appointment/{{esp}}">
                {%csrf_token%}
			<div class="login-form">
				<div class="control-group">
                    <input type="text" name="name" placeholder="Inserte aqui tu nombre" ><br><br>
                    <input type="text" name="area_solicitada" value="{{esp}}" disabled><br><br>
                    <select style="background-color: rgb(243, 243, 243) ;" name="select">
                        <option selected>Escoja al doctor</option>
                        {% for doc in doctors %}
                        {% if doc.specialty == esp %}
                        <option value="{{doc.id}}">{{doc.name}} {{doc.last_name}}</option>
                        {% endif %}
                        {% endfor %}
                      </select>
                      <br><br><input type="date" name=date><br><br>
                    <input type="time" name="time"><br><br>
                    <input type="text" name="email" value="{{user.email}}" disabled><br><br><br>
                <input type="submit" value="Sacar Cita" style="background-color: dodgerblue;color: white;"> 
            </div>
        </form>
		</div>
	</div>
</body>
</html>