{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <title>Panel de Control B&J</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="{% static 'css/manage.css' %}">
</head>
<body>
    <CENTER>
    <p>Buen dia sir {{ user.first_name }}<br>Que puedo hacer por ti hoy?</p>
    <a href="add" class="boton">Insertar</a><br><br>
    <button class="boton">Modificar</button><br><br>
    <button class="boton">Eliminar</button><br><br>
    <a href="show_doctors"class="boton">Ver Planilla </a><br><br>
    </CENTER>
</body>
</html>