<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Planilla B&J Clinicas de la Salud</title>
    <style>
        th,td{
        padding:3px;
        }
        th{
        background-color:skyblue;
        color:white;
        }
    </style>
</head>
<body>
<div id="header_content">
    <CENTER><strong>B&J Clinicas de la Salud</strong></CENTER>
</div>
<table class="table">
                    <tr>
                        <th>Nombre</th>
                        <th>Apellido</th>
                        <th>Especialidad</th>
                        <th>Código</th>
                       
                    </tr>
                    {% for doctor in doctors %}
                        <tr>
                            <td>{{ doctor.name }}</td>
                            <td>{{ doctor.last_name }}</td>
                            <td>{{ doctor.specialty }}</td>
                            <td>{{ doctor.code }}</td>
                        </tr>
                    {% endfor %}
                </table>
<div id="footer_content">
    This is Footer Print on Every Page of Pdf Page No. <pdf:pagenumber> / Total Page : <pdf:pagecount>
</div>
</body>
</html>