{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <title>Escoja Especialidad para hacer la cita Medica bsjhbvsdbvh</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="{% static 'css/specialty_page.css' %}">
</head>
<body>
    <CENTER>
    <h1>Escoja la especialidad en la que desea atenderse</h1>
    {% for spe in spec %}
    <a href="do_appointment/{{spe}}" class="boton">{{ spe }} </a><br><br>
    {% endfor %}
    </CENTER>
</body>
</html>