{% load static %}
<!DOCTYPE html>
<html lang="es">
    <head>
        <title> Citas de {{ user.first_name}}</title>
        <style>
            th,td{
            padding:3px;
            background-color: aquamarine;
            }
            th{
            background-color:skyblue;
            color:white;
            }
        </style>
    </head>
    <body>
        <div id="header_content" style="font-size: 60px;color: darkturquoise;">
            <CENTER><strong>B&J Clinicas de la Salud</strong></CENTER>
        </div>
        <table class="table">
                            <tr>
                                <th>Nombre</th>
                                <th>Especialidad</th>
                                <th>Doctor</th>
                                <th>Fecha</th>
                                <th>Hora</th>
                               
                            </tr>
                            {% for cite in cites %}
                            {% if cite.email == user.email %}
                                <tr>
                                    <td>{{ cite.name }}</td>
                                    <td>{{ cite.area }}</td>
                                    {% for doc in doctors %}
                                    {% if cite.doctor_id == doc %}
                                    <td>{{ doc.name }} {{doc.last_name}}</td>
                                    {% endif %}
                                    {% endfor %}
                                    <td>{{ cite.fecha }}</td>
                                    <td>{{ cite.hora }}</td>
                                </tr>
                            {% endif %}
                            {% endfor %}
                        </table>
        <div id="footer_content">
            Este es el pie de pagina<pdf:pagenumber> / Total Page : <pdf:pagecount>
        </div>

    </body>

</html>